@media (min-width: 480px){
    .container{
      background-color: aqua;  
    }
}

@media (min-width: 480px){
    .container{
      background-color: aqua;  
    }
}

@media (min-width: 480px){
    .container{
      background-color: aqua;  
    }
}

@media (min-width: 480px){
    .container{
      background-color: aqua;  
    }
}

@media (min-width: 480px){
    .container{
      background-color: aqua;  
    }
}
